body {
	padding: 10px;
	margin: 1%;
}

table {
	background-color: #848E66;
	background-image: url("../images/flywheel.jpg");
	background-size:100%;
	padding:20px;
}

caption {
	text-align: center;
	color: #FFFFFF;
	font-size: x-large;
	text-transform: uppercase;
}


span{
	visibility: hidden;
}

body{
	margin: 3%;
	padding:3%;
	font-size: 100%;
	min-width: 500px;
  

}
header, footer{
  padding: 3%;
  margin: 3%;
}
header h1{
	font-size: 3rem;
	color:lightpink;

}
section{
  margin:1%;
    padding:1%;
}

nav a{
	display:block;
	background-color: white;
	border: 1px solid black;
	text-align: center;
	border-radius: 35px;
	text-decoration: none;
	padding: 2%;
	margin: 1%;
  color:black;
}
h1{
	text-align: center;
  color:lightpink;
}

.myClass{
	margin: 0em 1em;
	padding:.75em;
	border: 1px solid black;
	border-radius: .25%;
	/* Safari and Chrome */	
	-webkit-column-count:3;
	-moz-column-count: 3;
	column-count:3;
	
}
ol{
	list-style:upper-roman; 
	margin:1em;
}
img{
	display:none;
}
footer{
	clear: both;
	text-align:center;
	text-transform: uppercase;
}
@media only screen and (min-width:900px){
  
  img{
    display:inline-block;
    width: 20%;
    padding:1%;
    margin-left:1%;
  }
  header, footer{
    background-color: transparent;
  }
  #left{
    display: inline-block;
    width:30%;
    float: left;
  }
  #center{
    display: inline-block;
    width: 60%
  }
  

@media only print and (min-width:900px){
    header h1 {
        font-size:1em;
    }
    nav a {
text-align: center;
	color:#551a8b;
    }
    
    /* example shows one column here */
    .myClass{
	/* Safari and Chrome */	
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;	
    }
    body,header,footer{
    	background-color: none;
    }
    img{
	display:none;
}
}
  body {
	padding: 10px;
	margin: 1%;
}

table {
	background-color: #848E66;
	background-image: url("../images/flywheel.jpg");
	background-size:100%;
	padding:20px;
	border: solid 1px #000000;
}

caption {
	text-align: center;
	color: #FFFFFF;
	font-size: x-large;
	text-transform: uppercase;

}

th{
	border: solid 2px #000000;
    background-color:#ceb9f5;
border: solid 2px #000000;
    color: #ffffff;
    border-bottom: #b1e053 2px solid;
    border-radius: 5px 5px 0 0;
    padding: 10px 30px;
}

td{
    padding: 10px 50px;
    background-color:#abdaef;
border: solid 2px #000000;
}

tr{
    border: solid 2px #000000;
    text-align: center;
}

td:nth-child(1){
	border: solid 2px #000000;
    text-align: left;
    padding:10px 100px 10px 10px;
}

th:nth-child(1){
	border: solid 2px #000000;
    text-align: left;
    padding:10px 100px 10px 10px;
}

tr:hover{
	border: solid 2px #000000;
    color: rgb(0, 0, 0, 1);
    cursor: pointer;
}
img:hover{
	border: solid 2px #000000;
    color: rgb(0, 0, 0, 1);
    cursor: pointer;
}