h1 {font-variant: small-caps;
	text-align: center;
  color:#ffffff;

}
header{
  background:#b5b7b4;
 }
a {
  color:#000000;
}
section{
 background:#838689; 
}
h2{
  color:#0031bb;
 font-variant: small-caps;
}
p{
  
}
 
img {
  display: none;
}