h1 {
	text-align: center;
  color:#ffffff;
 font-size: large-caps;
}
header{
  background:#b5b7b4;
 }
a {
  color:black;
}
section{
 background:#838689; 
}
h2{
  color:#0031bb;
 font-size: large-caps;
}
p{
  
}
img{
	width: 0%;
	height: 0%;
}